body {
    background-color: #2C0C3C;
    font-family:'Press Start 2P', cursive;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #generate-button {
    background-color: #F4AC1C;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    width: 400px;
    font-family:'Press Start 2P', cursive;
  }
  
  #generate-button:hover {
    background-color: #F4AC1C;
  }
  
  #pokemon-image {
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: white;
  }
  
  /* #answer-form {
    text-align: center;
  }
  
  #answer-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  #submit-answer {
    background-color: #FFCB05;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #submit-answer:hover {
    background-color: #FEAB1B;
  }
   */
   ul{

    list-style: none;
    font-size: 20px;
   }

   .opt_btn{

    width:500px;
    height:50px;
    background-color: #F4AC1C;
    font-family:'Press Start 2P', cursive;
    font-size: 20px;
    border-radius: 10px;
    margin: 3px 0  3px;

    
   }
   .opt_btn:hover{
    background-color: #ffc756;

   }